.gallery-filter {
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
.gallery-filter.active {
    background: linear-gradient(145deg, #00ffff, #1e3c72);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.gallery-filter:hover {
    background: linear-gradient(145deg, #1e3c72, #00ffff);
    transform: translateY(-5px);
} 

.gallery-item {
    display: none;
}
.gallery-item.active {
    display: block;
}


.card {
    height: 400px;
}